<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#">
    <img class="logo-height" src="assets/DE-SoftwareRedDECutOut.png" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse float-right" id="navbarSupportedContent">
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  </div>
</nav>
<!--Header Image and Centered Text Area -->
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <div class="header-image img-fluid">
        <div class="header-image-text">
          <h1 class="heading-text">Double Edge Software</h1>
          <p>
            <a class="btn btn-lg btn-circle btn-brand">Get Started</a>
          </p>
          <p>
            <a class="btn btn-lg btn-circle btn-outline-new-white">Get Started</a>
          </p>
        </div>
      </div>
    </div>
  </div>
